body{
    background-color: #000038;
}

#tokenSection{
    display: none;
}

#songSelection{
    display: none;
}

.container{
    padding: 20px;
    background-color: #78bc61ff;
}

#albumImage{
    width: 300px;
    float: left;
    margin: 20px;
}

#trackTitle{
    font-size:3em;
}

#trackArtist{
    font-size:2em;
}